<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SistemaTickets.Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="indexsistemas">
                <span class="fas fa-desktop d-flex align-items-center justify-content-center fs-4" aria-hidden="true"></span>&nbsp;&nbsp; Sistemas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="indexprioridades">
                <span class="fas fa-flag d-flex align-items-center justify-content-center fs-4" aria-hidden="true"></span>&nbsp;&nbsp; Prioridades
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="indexcliente">
                <span class="fas fa-address-card d-flex align-items-center justify-content-center fs-4" aria-hidden="true"></span>&nbsp;&nbsp; Clientes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="indextickets">
                <span class="fas fa-clipboard-list d-flex align-items-center justify-content-center fs-4" aria-hidden="true"></span>&nbsp;&nbsp; Tickets
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="autor">
                <span class="fas fa-user d-flex align-items-center justify-content-center fs-4" aria-hidden="true"></span>&nbsp;&nbsp; Autor
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
