@page "/autor"

<link rel="stylesheet" href="./estilo/autor.css" />


<div class="info">
    <h2 class="heading"><i class="fas fa-user-alt"></i> Autor</h2>

    <div class="fila">

        <div class="image">
            <img draggable="false" class="tilt" src="./recursos/perfil.jpg" alt="">
        </div>
        <div class="content">
            <h3>Aaron Hernandez</h3>
            <span class="tag">Estudiante de Ingenieria en Sistemas y Computacion</span>

            <p>Soy un apasionado por la programación con habilidades excepcionales en el desarrollo de software. He demostrado ser un programador altamente competente y un activo valioso para cualquier proyecto de software. Entre mis habilidades se destacan la capacidad de diseñar y desarrollar aplicaciones de software desde cero, implementar algoritmos y estructuras de datos eficientes, resolver problemas complejos y encontrar soluciones creativas para desafíos técnicos logrando la optimizacion total de mis clientes.</p>

            <div class="box-container">
                <div class="box">
                    <p><span> Matricula: </span> 2022-0001</p>
                    <p><span> Telefono : </span> +1 809-613-5721</p>
                    <p><span> Edad: </span> 19</p>
                </div>
                <div class="box">
                    <p><span> Email : </span> atminifg655@gmail.com</p>
                    <p><span> Pais : </span> Republica Dominicana</p>
                    <p><span> Experiencia: </span> 2 años.</p>
                </div>
            </div>
        </div>
    </div>
</div>



@code {

}
